.result-view {
    display: flex;
    flex-direction: column;
}

.lbl-result-header {
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    margin-bottom: -5px;
}

.lbl-result-search {
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.result-table {
    margin: 1rem 0 1rem 0;
    text-align: left;
}

.result-table thead, .result-table .ReactVirtualized__Table__headerRow {
    color: #ee283b;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
}

.result-table tbody, .result-table .ReactVirtualized__Table__Grid {
    background-color: white;
    color: black;
    font-family: 'Overpass Mono', monospace;
    font-size: 0.8rem;
}
.result-table td, .result-table th {
    padding: 0.25rem 0.5rem
}

.result-table .ReactVirtualized__Table__rowColumn {
    white-space: normal;
    display: flex;
    align-items: center;
    height: 100%;
}

.result-table .ReactVirtualized__Table__rowColumn:first-child {
    margin-right: 0px;
}


.result-table .ReactVirtualized__Table__rowColumn:not(:first-child) {
    border-left: 1px solid black;
    padding-left: 10px;
}


.result-table tr td:not(:last-child) {
    border-right: 1px solid black
}

.result-table th, .result-table tr:not(:last-child), .result-table .ReactVirtualized__Table__row:not(:last-child) {
    border-bottom: 1px solid black
}

.result-logo {
    margin-bottom: 1rem;
    margin-top: 8rem;
}