.app {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.default-toast {
  background-color: #272121;
}

.default-toast button {
  border: none;
  background-color: transparent;
  color: #ee283b;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1.5px;
  padding: 0.5rem;
}