@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Kanit:800');

body {
  background-color: black;
  color: white;
  font-size: 16px;
}
